* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 8px;
}
body {
  font-family: "Times New Roman", Times, Georgia, serif;
  font-size: 18px;
  background-color: rgb(2, 53, 50);
}

.left .introduction,
.contact {
  border-right: 2px solid rgb(71, 51, 13);
}

.left li {
  margin-left: 40px;
}

.left {
  display: flex;
  background-color: rgb(12 104 96);
  border-radius: 70px;
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.4);

  overflow: visible;
  border: solid 2px rgb(71, 51, 13);
}
.left div:not(#tech-stack-content) {
  padding: 0 20px;
}
.left div a {
  display: block;
  text-decoration: none;
  color: rgb(227 193 130);
  font-weight: bold;
  width: fit-content;
}

.contributions,
.tech-stack {
  padding-bottom: 8px;
}

h4 {
  padding-bottom: 8px;
}

.introduction {
  color: rgb(227 193 130);
  text-align: center;
}

.introduction h2 {
  padding: 10px 0px 0px 0px;
}

.contact p,
.contact h2,
.contact a {
  padding: 0px 50px;
}

.contact {
  display: grid;
  justify-content: center;
}

.contact h2 {
  padding-top: 10px;
}

.profile {
  display: flex;
}
.right {
  flex: 3;
  background-color: #b7b6b6;
  box-shadow: 8px 8px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 70px;
  padding: 3vw;
  border: solid 2px rgb(53, 53, 53);
}
.right div ul {
  padding-left: 2vw;
}
.right div {
  padding: 20px 0px;
}

.aboutme p {
  padding-left: 2vw;
}
.left #profile {
  margin: 10px 50px;
  border-radius: 30%;
  width: 200px;
  height: 200px;
}
.programmingskills {
  width: 100%;
}
.programmingskills #title {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  height: 60px;
}

.programmingskills #title h2 {
  padding-top: 10px;
}

.programmingskills #center-div {
  height: calc(100% - 60px);
  display: flex;
  vertical-align: middle;
}

#tech-stack-content {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 30px;
}

#tech-stack-content button {
  height: 30px;
  padding: 0px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(71, 51, 13);
  color: rgb(227 193 130);
  font-weight: bolder;
}

#tech-stack-content button:hover {
  font-weight: bolder;
  filter: brightness(120%);
}

.rightarticle h2 {
  padding-bottom: 10px;
}

.left .contact a:hover {
  cursor: pointer;
}

.rightarticle:not(:last-of-type) {
  border-bottom: solid 2px black;
}
.skills {
  display: flex;
}

.skills .goals,
.skillpoints {
  flex: 1;
}

@media screen and (max-width: 820px) {
  .left div:not(:last-of-type) {
    border-right: none;
  }

  .left {
    display: block;
  }

  .contact {
    margin-bottom: 10px;
  }

  .skillpoints {
    border-bottom: solid 2px black;
  }
}
